body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #D3D3D3;
}
header{
    max-width: 100%;
    background-color: #3E88EF;
    color: white;
    text-align: center;
    font-size: 25px;
}
main,
footer {
    max-width: 100%;
    margin: .5rem auto;
    background-color: #ccc;
    text-align: center;

}
 main {
    padding: 15px;
    margin-top: 0;
 }
h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
}

section {
    padding-bottom: 20px;
    font-size: 25px;
}
#image-grid {
    display: grid;
    margin: auto;
    justify-content: center;
    max-width: 1000px;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: white;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: white 3px solid;
    box-shadow: 0px 0px 10px;
    margin: 15px;
}
footer {
    text-align: center;
    background-color: #3E88EF;
    color: white;
    padding: 20px;
    margin-bottom: 0;
}
          

@media screen and (min-width: 745px) {
    #image-grid {
        grid-template-columns: 330px 330px;
        row-gap: 20px;
        column-gap: 70px;
    }
}    

@media screen and (min-width: 1115px) {
    #image-grid {
        grid-template-columns: 330px 330px 330px;
        row-gap: 20px;
        column-gap: 40px;
    }
    
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline-block;
    }
    nav {
        text-align: center;
    }
}
